.profile_pic {
  width: 30vh;
  margin: 5px;
  margin-bottom: 10px;
  max-width: 200px;
  align-self: center;
  justify-self: center;
}

.description {
  display: flex;
  flex-direction: column;
  font-family: sans-serif, Arial, Helvetica;
}

span {
  margin-bottom: 5px;
}
